In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("city_AQI.csv")

In [3]:
df.head()

,CBSA,CBSA Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,"Akron, OH",10420,1980-01-02,43,Good,CO,39-153-0018,3
1,"Akron, OH",10420,1980-01-03,49,Good,SO2,39-153-1007,3
2,"Akron, OH",10420,1980-01-04,76,Moderate,SO2,39-153-1007,4
3,"Akron, OH",10420,1980-01-05,89,Moderate,SO2,39-153-0018,4
4,"Akron, OH",10420,1980-01-06,130,Unhealthy for Sensitive Groups,SO2,39-153-0017,4

In [14]:
df['Year'] =pd.DatetimeIndex(df['Date']).year

In [4]:
df.groupby(['Category']).count()

,CBSA,CBSA Code,Date,AQI,Defining Parameter,Defining Site,Number of Sites Reporting
Category,,,,,,,
Good,3350407,3350407,3350407,3350407,3350407,3350407,3350407
Hazardous,653,653,653,653,653,653,653
Moderate,1346249,1346249,1346249,1346249,1346249,1346249,1346249
Unhealthy,102167,102167,102167,102167,102167,102167,102167
Unhealthy for Sensitive Groups,358677,358677,358677,358677,358677,358677,358677
Very Unhealthy,16538,16538,16538,16538,16538,16538,16538

In [9]:
df2 = pd.read_csv("cbsas.csv")

In [10]:
df2[0:10]

   CBSA Code              CBSA Name     CBSA Type
0      10020          Abbeville, LA  Micropolitan
1      10100           Aberdeen, SD  Micropolitan
2      10140           Aberdeen, WA  Micropolitan
3      10180            Abilene, TX  Metropolitan
4      10220                Ada, OK  Micropolitan
5      10260           Adjuntas, PR  Micropolitan
6      10300             Adrian, MI  Micropolitan
7      10380  Aguadilla-Isabela, PR  Metropolitan
8      10420              Akron, OH  Metropolitan
9      10460         Alamogordo, NM  Micropolitan

In [12]:
final = df.merge(df2, on=['CBSA Code'])

In [13]:
final

,CBSA,CBSA Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting,CBSA Name,CBSA Type
0,"Akron, OH",10420,1980-01-02,43,Good,CO,39-153-0018,3,"Akron, OH",Metropolitan
1,"Akron, OH",10420,1980-01-03,49,Good,SO2,39-153-1007,3,"Akron, OH",Metropolitan
2,"Akron, OH",10420,1980-01-04,76,Moderate,SO2,39-153-1007,4,"Akron, OH",Metropolitan
3,"Akron, OH",10420,1980-01-05,89,Moderate,SO2,39-153-0018,4,"Akron, OH",Metropolitan
4,"Akron, OH",10420,1980-01-06,130,Unhealthy for Sensitive Groups,SO2,39-153-0017,4,"Akron, OH",Metropolitan
5,"Akron, OH",10420,1980-01-07,123,Unhealthy for Sensitive Groups,SO2,39-153-0017,4,"Akron, OH",Metropolitan
6,"Akron, OH",10420,1980-01-08,111,Unhealthy for Sensitive Groups,SO2,39-153-0017,4,"Akron, OH",Metropolitan
7,"Akron, OH",10420,1980-01-09,102,Unhealthy for Sensitive Groups,SO2,39-153-0017,5,"Akron, OH",Metropolitan
8,"Akron, OH",10420,1980-01-10,129,Unhealthy for Sensitive Groups,SO2,39-153-0018,5,"Akron, OH",Metropolitan
9,"Akron, OH",10420,1980-01-11,149,Unhealthy for Sensitive Groups,SO2,39-153-0017,5,"Akron, OH",Metropolitan
10,"Akron, OH",10420,1980-01-12,59,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
11,"Akron, OH",10420,1980-01-13,97,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
12,"Akron, OH",10420,1980-01-14,61,Moderate,SO2,39-153-0018,5,"Akron, OH",Metropolitan
13,"Akron, OH",10420,1980-01-15,84,Moderate,SO2,39-153-0018,5,"Akron, OH",Metropolitan
14,"Akron, OH",10420,1980-01-16,101,Unhealthy for Sensitive Groups,SO2,39-153-0018,5,"Akron, OH",Metropolitan
15,"Akron, OH",10420,1980-01-17,113,Unhealthy for Sensitive Groups,SO2,39-153-0018,5,"Akron, OH",Metropolitan
16,"Akron, OH",10420,1980-01-18,71,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
17,"Akron, OH",10420,1980-01-19,71,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
18,"Akron, OH",10420,1980-01-20,97,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
19,"Akron, OH",10420,1980-01-21,117,Unhealthy for Sensitive Groups,SO2,39-153-0017,5,"Akron, OH",Metropolitan
20,"Akron, OH",10420,1980-01-22,120,Unhealthy for Sensitive Groups,SO2,39-153-0018,5,"Akron, OH",Metropolitan
21,"Akron, OH",10420,1980-01-23,71,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
22,"Akron, OH",10420,1980-01-24,105,Unhealthy for Sensitive Groups,SO2,39-153-0018,5,"Akron, OH",Metropolitan
23,"Akron, OH",10420,1980-01-25,96,Moderate,SO2,39-153-0018,5,"Akron, OH",Metropolitan
24,"Akron, OH",10420,1980-01-26,102,Unhealthy for Sensitive Groups,SO2,39-153-0017,5,"Akron, OH",Metropolitan
25,"Akron, OH",10420,1980-01-27,87,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
26,"Akron, OH",10420,1980-01-28,67,Moderate,SO2,39-153-0017,5,"Akron, OH",Metropolitan
27,"Akron, OH",10420,1980-01-29,102,Unhealthy for Sensitive Groups,SO2,39-153-0017,5,"Akron, OH",Metropolitan
28,"Akron, OH",10420,1980-01-30,112,Unhealthy for Sensitive Groups,SO2,39-153-0017,4,"Akron, OH",Metropolitan
29,"Akron, OH",10420,1980-01-31,51,Moderate,SO2,39-153-0017,4,"Akron, OH",Metropolitan
...,...,...,...,...,...,...,...,...,...,...
5174661,"Seneca Falls, NY",42900,2017-02-28,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174662,"Seneca Falls, NY",42900,2017-03-01,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174663,"Seneca Falls, NY",42900,2017-03-02,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174664,"Seneca Falls, NY",42900,2017-03-03,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174665,"Seneca Falls, NY",42900,2017-03-04,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174666,"Seneca Falls, NY",42900,2017-03-05,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174667,"Seneca Falls, NY",42900,2017-03-06,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174668,"Seneca Falls, NY",42900,2017-03-07,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174669,"Seneca Falls, NY",42900,2017-03-08,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174670,"Seneca Falls, NY",42900,2017-03-09,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174671,"Seneca Falls, NY",42900,2017-03-10,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174672,"Seneca Falls, NY",42900,2017-03-11,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174673,"Seneca Falls, NY",42900,2017-03-12,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174674,"Seneca Falls, NY",42900,2017-03-13,1,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174675,"Seneca Falls, NY",42900,2017-03-14,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174676,"Seneca Falls, NY",42900,2017-03-15,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174677,"Seneca Falls, NY",42900,2017-03-16,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174678,"Seneca Falls, NY",42900,2017-03-17,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174679,"Seneca Falls, NY",42900,2017-03-18,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174680,"Seneca Falls, NY",42900,2017-03-19,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174681,"Seneca Falls, NY",42900,2017-03-20,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174682,"Seneca Falls, NY",42900,2017-03-22,1,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174683,"Seneca Falls, NY",42900,2017-03-23,1,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174684,"Seneca Falls, NY",42900,2017-03-24,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174685,"Seneca Falls, NY",42900,2017-03-25,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174686,"Seneca Falls, NY",42900,2017-03-26,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174687,"Seneca Falls, NY",42900,2017-03-28,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174688,"Seneca Falls, NY",42900,2017-03-29,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174689,"Seneca Falls, NY",42900,2017-03-30,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan
5174690,"Seneca Falls, NY",42900,2017-03-31,0,Good,SO2,36-099-0002,1,"Seneca Falls, NY",Micropolitan

In [18]:
report = df.groupby(['CBSA', 'Category', 'Defining Parameter', 'Year' ]).count()

In [19]:
report.head()

                                               CBSA Code  Date  AQI  \
CBSA         Category Defining Parameter Year
Aberdeen, SD Good     PM10               1985         62    62   62
                                         1986         94    94   94
                                         1987         81    81   81
                                         2000         17    17   17
                                         2001         18    18   18

                                               Defining Site  \
CBSA         Category Defining Parameter Year
Aberdeen, SD Good     PM10               1985             62
                                         1986             94
                                         1987             81
                                         2000             17
                                         2001             18

                                               Number of Sites Reporting
CBSA         Category Defining Parameter Year
Aberdeen, SD Good     PM10               1985                         62
                                         1986                         94
                                         1987                         81
                                         2000                         17
                                         2001                         18

In [27]:
report2 = report.add_suffix('_Count').reset_index()

In [28]:
report2.head()

,CBSA,Category,Defining Parameter,Year,CBSA Code_Count,Date_Count,AQI_Count,Defining Site_Count,Number of Sites Reporting_Count
0,"Aberdeen, SD",Good,PM10,1985,62,62,62,62,62
1,"Aberdeen, SD",Good,PM10,1986,94,94,94,94,94
2,"Aberdeen, SD",Good,PM10,1987,81,81,81,81,81
3,"Aberdeen, SD",Good,PM10,2000,17,17,17,17,17
4,"Aberdeen, SD",Good,PM10,2001,18,18,18,18,18

In [29]:
report2.to_csv("City_AQI_Category_Counts.csv")

In [36]:
report2[report2['Year'] == 1994].groupby(['Category']).nunique()

,CBSA,Category,Defining Parameter,Year,CBSA Code_Count,Date_Count,AQI_Count,Defining Site_Count,Number of Sites Reporting_Count
Category,,,,,,,,,
Good,491,1,6,1,260,260,260,260,260
Hazardous,3,1,1,1,2,2,2,2,2
Moderate,435,1,6,1,120,120,120,120,120
Unhealthy,246,1,5,1,41,41,41,41,41
Unhealthy for Sensitive Groups,334,1,6,1,87,87,87,87,87
Very Unhealthy,75,1,4,1,13,13,13,13,13